{% layout 'layout.liquid' %}
{% block content %}

    <div class="container-sm">
        <form action="/fruits/{{fruit.id}}?_method=PUT" method="POST">
            <fieldset>
                <legend>Edit {{fruit.name}}</legend>
                <label class="form-label">Name: </label>
                <input 
                    class="form-control" 
                    type="text" 
                    name="name" 
                    placeholder="name of the fruit"
                    value="{{fruit.name}}">
                <label class="form-label">Color: </label>
                <input 
                    class="form-control" 
                    type="text" 
                    name="color" 
                    placeholder="what color is the fruit?"
                    value="{{ fruit.color }}">
                <label class="form-label">Ready To Eat: </label>
                <input 
                    class="form-check-input" 
                    type="checkbox" 
                    name="readyToEat"
                    {% if fruit.readyToEat %}
                        checked
                    {% endif %}
                    >
            </fieldset>
            <input type="submit" value="Edit {{fruit.name}}" class="btn btn-success">
        </form>
    </div>

{% endblock %}